/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#from-map, #to-map {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 2px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wrap-map-canvas{
  padding:0px;
  /*width:100%;*/
  height:300px;
}
.address-text{
  font-weight: bold;
  font-size: 16px;
  margin: 7px 0 0 0;
  padding:0px;
}